body{
    background: linear-gradient(180deg, #173047, #09123b);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;
    color: #fff;
    height: 100vh;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
button{
    background:#c48613;
    color:#303030;
    font-size: 1.5em;
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
    margin: 50px;
}

section{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
}

.botones{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: auto;
}